* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 20px;
  gap: 1rem;
  height: 100vh;
  overflow: hidden;
}

.game-board img {
  max-width: 100%;
  margin: auto 0;
  object-fit: cover;
  height: 40vh;
}

.card {
display: flex;
flex-direction: column;
}

.card p {
  background-color: rgb(11, 60, 145);
  border-radius: 100px;
}

.score-board {
  display: flex;
} 

